.big-text {
  position: absolute;
  left: 20vw;
  top: 10%;
  color: #fff;
  // font-family: Arial;
  // font-smooth: never;
  font-size: 4em;
  font-weight: bold;
  font-size: 72px;
  cursor: crosshair;
  #b, #a, #s, #e, #c, #h, #a2, #i, #n, #t, #h2, #e2, #f, #u, #t2, #u2, #r, #e3 {
    position: relative;
  }
  #b {
    left: 0vw;
    top: -11.8vh;
  }
  #a {
    left: 6vw;
    top: -17.5vh;
  }
  #s {
    left: 12.5vw;
    top: -22vh;
  }
  #e {
    left: 19vw;
    top: -26vh;
  }
  #c {
    left: 0vw;
    top: -30vh;
  }
  #h {
    left: 6vw;
    top: -36vh;
  }
  #a2 {
    left: 12vw;
    top: -40vh;
  }
  #i {
    left: 18vw;
    top: -45vh;
  }
  #n {
    left: 22vw;
    top: -50vh;
  }
 #i2 {
    left: 30vw;
    top: -35vh;
  }
  #s2 {
    left: 35vw;
    top: -44vh;
  }
  #t {
    left: 0vw;
    top: -30vh;
  }
  #h2 {
    left: 7vw;
    top: -30vh;
  }
  #e2 {
    left: 14vw;
    top: -47.75vh;
  }
  #f {
    left: 21vw;
    top: -47.75vh;
  }
  #u {
    left: 28vw;
    top: -65.45vh;
  }
  #t2 {
    left: 35vw;
    top: -65.45vh;
  }
  #u2 {
    left: 42vw;
    top: -83.25vh;
  }
  #r {
    left: 49vw;
    top: -83.25vh;
  }
  #e4 {
    left: 56vw;
    top: -101.25vh;
  }
}
