
<form action="/new_peer" method="post">
  <button type="submit" name="new_peer">New peer</button>
</form>

<form action="/transaction" method="post">
  <input type="text" name="sender_private" value="sender_private">
  <input type="text" name="sender_public" value="sender_public">
  <input type="text" name="recipient_public" value="recipient_public">
  <input type="number" name="amount" value="amount">
  <button type="submit" name="transaction">Transact</button>
</form>

<form action="/mine" method="post">
  <input type="text" name="transaction_id" value="Transaction ID">
  <button type="submit" name="mine">Mine a block</button>
</form>
