.block {
  margin-left: 5%;
  margin-right: 5%;
  opacity: 0.6;
  margin-top: 25px;
  border: 2px solid;
  border-bottom-color: #535353;
  border-right-color: #535353;
  border-left-color: #dbdbdb;
  border-top-color: #dbdbdb;
  background-color: #bfbfbf;
  max-width: 600px;
  font-size: 13px;
  padding: 2px; }
  .block .block-inner {
    border: 2px solid;
    border-bottom-color: #c7c7c7;
    border-right-color: #c7c7c7;
    border-left-color: #808080;
    border-top-color: #808080;
    padding: 10px;
    font-family: arial; }
    .block .block-inner ul.icons {
      list-style: none;
      padding: 2px 0;
      margin: 0; }
      .block .block-inner ul.icons li {
        display: inline-block;
        padding: 0 5px; }
  .block p {
    opacity: 1 !important; }
  .block .statusbar .left, .block .statusbar .right {
    border: 1px solid;
    border-color: #888 #dadada #dadada #888;
    display: inline-block;
    padding: 0px 5px;
    font-size: 11px; }
  .block .statusbar .left {
    width: 33%; }
  .block .statusbar .right {
    width: 66%; }

.block-title {
  background-color: #808080;
  padding: 2px 4px 3px 4px;
  position: relative; }
  .block-title h1 {
    font-weight: bold;
    color: #bcbcbc;
    font-size: 13px;
    margin: 0; }
  .block-title button {
    border: 2px solid;
    border-bottom-color: #444;
    border-right-color: #444;
    border-left-color: #a6a6a6;
    border-top-color: #a6a6a6;
    background-color: #bfbfbf;
    position: absolute;
    font-size: 9px;
    line-height: 0;
    padding: 1px;
    height: 15px;
    width: 15px;
    top: 2px; }
  .block-title button.minimize {
    right: 34px; }
  .block-title button.expand {
    right: 18px; }
  .block-title button.times {
    right: 2px; }

.big-text {
  position: absolute;
  left: 20vw;
  top: 10%;
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  font-size: 72px; }
  .big-text #b, .big-text #a, .big-text #s, .big-text #e, .big-text #c, .big-text #h, .big-text #a2, .big-text #i, .big-text #n, .big-text #t, .big-text #h2, .big-text #e2, .big-text #f, .big-text #u, .big-text #t2, .big-text #u2, .big-text #r, .big-text #e3 {
    position: relative; }
  .big-text #b {
    left: 0vw;
    top: -11.8vh; }
  .big-text #a {
    left: 6vw;
    top: -17.5vh; }
  .big-text #s {
    left: 12.5vw;
    top: -22vh; }
  .big-text #e {
    left: 19vw;
    top: -26vh; }
  .big-text #c {
    left: 0vw;
    top: -30vh; }
  .big-text #h {
    left: 6vw;
    top: -36vh; }
  .big-text #a2 {
    left: 12vw;
    top: -40vh; }
  .big-text #i {
    left: 18vw;
    top: -45vh; }
  .big-text #n {
    left: 22vw;
    top: -50vh; }
  .big-text #i2 {
    left: 30vw;
    top: -35vh; }
  .big-text #s2 {
    left: 35vw;
    top: -44vh; }
  .big-text #t {
    left: 0vw;
    top: -30vh; }
  .big-text #h2 {
    left: 7vw;
    top: -30vh; }
  .big-text #e2 {
    left: 14vw;
    top: -47.75vh; }
  .big-text #f {
    left: 21vw;
    top: -47.75vh; }
  .big-text #u {
    left: 28vw;
    top: -65.45vh; }
  .big-text #t2 {
    left: 35vw;
    top: -65.45vh; }
  .big-text #u2 {
    left: 42vw;
    top: -83.25vh; }
  .big-text #r {
    left: 49vw;
    top: -83.25vh; }
  .big-text #e3 {
    left: 56vw;
    top: -11vh; }

html, body {
  height: 100%;
  overflow: hidden; }

@keyframes bg-switch {
  from {
    background: -webkit-linear-gradient(-225, #f00e0f, #989697, #989697, #f00e0f);
    background: linear-gradient(315deg, #ab4c4c 10%, #989697 30%, #989697 60%, #f00e0f 90%); }
  to {
    background: -webkit-linear-gradient(-225, #05ffa1, #989697, #989697, #05ffa1);
    background: linear-gradient(315deg, #05ffa1 10%, #989697 30%, #989697 60%, #05ffa1 90%); } }
body {
  background: -webkit-linear-gradient(-225, #f00e0f, #989697, #989697, #f00e0f);
  background: linear-gradient(315deg, #ab4c4c 10%, #989697 30%, #989697 60%, #f00e0f 90%); }

/* Large desktop */
@media (min-width: 1400px) {
  .container-fluid {
    width: 90%; } }
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .container-fluid {
    width: 95%; } }
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .container-fluid {
    width: 100%; } }
/* Landscape phones and down */
@media (max-width: 480px) {
  .container-fluid {
    width: 100%; } }
.logo {
  color: #ffc6bf;
  font-family: Arial;
  font-size: 2.3em;
  margin-top: 30px;
  margin-bottom: 270px;
  text-align: center; }

.dolphin {
  position: absolute;
  left: inherit;
  top: 60%;
  opacity: 0.5; }
  .dolphin img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; }
  .dolphin img#dolphin:hover {
    opacity: 0; }

/*# sourceMappingURL=styles.css.map */

/* MODAL WINDOW */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* END MODAL WINDOW */
